# virtual environments
.venv

# byte compiled files
__pycache__/
*.pyc

# build files and tarball directory
build/
dist/
*.egg-info/
.DS_Store

# ruff
.ruff_cache

# pytest / coverage
.pytest_cache
.coverage
htmlcov/

# zed editor
.zed
